* {
 margin: 0;
 padding: 0;
 font-family: 'Poppins', sans-serif;
 box-sizing: border-box;
}

.insideText {
 margin: 10px 70px; 
}

.titleScience {
 text-align: center;
 margin-bottom: 30px;
}

.card {
 padding: 1% 25%;
 display: block;
 justify-content: left;
}


#ch {
 display: none;
}

#ch:checked ~ .content {
 display: block;
}

#ch:checked ~ .labeled{
 display: none;
}


#ch2 {
 display: none;
}

#ch2:checked~.content {
 display: block;
}

#ch2:checked ~.labeled {
 display: none;
}

#ch3 {
 display: none;
}

#ch3:checked~.content {
 display: block;
}

#ch3:checked~ .labeled {
 display: none;
}


#ch4 {
 display: none;
}

#ch4:checked~.content {
 display: block;
}

#ch4:checked ~ .labeled {
 display: none;
}
.content {
 display: none;
}

.content img {
 width: 500px;
 height: 350px;
 margin-left: 80px;
 margin-bottom: 20px;
}

label {
 cursor: pointer;
 color: white;
 background-color: #4f3469;
 padding: 5px 13px;
 margin-top: 12px;
 border-radius: 10px;
 margin-bottom: 20px;
}

.labeled {
 text-align: center;
}

#alz {
 text-align: center;
}