* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.header {
  min-height: 20vh;
  width: 100%;
  background-image: linear-gradient(rgba(25, 8, 44, 0.7), rgba(73, 34, 117, 0.7)), url("https://dlyhjlf6lts50.cloudfront.net/app/uploads/2019/02/AssistedLivingGathering1.png");
  background-position: center;
  background-size: cover;
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.biblio a{
  color: rgb(30, 20, 66);
  text-decoration: none;
  background-color: white;
  border-radius: 10px;
  padding: 5px 10px;
  transition: 1s;
}

.biblio a:hover {
  background-color: rgb(156, 130, 173);
}

.biblio {
  margin-top: 10px;
}

.headerinitial {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(25, 8, 44, 0.7), rgba(73, 34, 117, 0.7)), url("https://dlyhjlf6lts50.cloudfront.net/app/uploads/2019/02/AssistedLivingGathering1.png");
  background-position: center;
  background-size: cover;
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.contents {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff; 
}

.contents h1 {
  font-size: 100px;
  margin-top: 80px;
}

.contents p {
  font-weight: 100%;
  line-height: 25px;
  text-align: center;
  padding-left: 17%;
  padding-right: 17%;
}

.buttonlnk a{
  text-decoration: none;
  position: absolute;
  top: 75%;
  left: 44%;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgba(80, 40, 121, 0.548);
  padding: 10px;
  border-radius: 10px;
  transition: 1s;
}

.buttonlnk a:hover {
  background-color: rgb(81, 40, 121)
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 150px;
}

.nav-links {
  flex: 1;
  /* occupy space in the row */
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  /* horizontal */
  padding: 8px 10px;
  position: relative;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 3px;
  background: #9957cf;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.title h1 {
  margin-bottom: 20px;
  text-align: center;
  padding-top: 20px;
  font-size: 48px;
  color: #240c38;
}

#big-title {
  font-size: 90px;
}

.sec-col-lk {
  text-decoration: none;
  transition: 1s;
}

.sec-col-lk:hover {
  color:#351d46;
  font-style: italic;
}

.title p {
  text-align: center;
  margin-bottom: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

.about-us-title {
  margin-bottom: 20px;
  text-align: center;
}

.about-us-title h1 {
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  font-size: 48px;
  color:#240c38;
}

.aboutUsColumns img {
  transition: 1s ease-in-out;
}
.aboutUsColumns img:hover {
  transform: rotate(360deg) scale(1.25);
}

.aboutUsColumns{
  transition: 1s ease;
}

.aboutUsColumns:hover {
  transform: scale(1.05);
  box-shadow: 5px 6px 5px 5px #8b8b8b;
  background-color: white;
}

.first-column {
  width: 60%;
  margin-left: 4%;
  padding: 20px 10px 0 0;
  float: left;
}

.second-column {
  width: 28%;
  margin-right: 4%;
  padding: 20px 10px 0 0;
  float: right;
}

.second-column img {
  transition: 1s ease;
}

.second-column img:hover{
  border-radius: 50%;
  transition: 1s ease;
}


.steps-block {
  background-color: #351d46;
  border-radius: 5px;
  padding: 20px;
  margin: 30px 15%;
  transition: 1s;
}

.steps-block h1 {
  margin-left: 40px;
  margin-bottom: 10px;
  color:#806595;
}

.steps-block p {
  color: #351d46;
}

.steps-block:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

@media only screen and (max-width: 800px) {

  .first-column {
    width: 100%;
    padding-bottom: 10px;
    float: none;
  }

  .second-column {
    width: 100%;
    padding-bottom: 10px;
    float: none;
  }

  .aboutUsColumns {
    width: 100%;
    padding-bottom: 10px;
    float: none;
  }
}

.gallery {
  margin-top: 1.5%;
  padding: 10px; 
  transition: transform 0.7s ease;
}

.gallery:hover {
  transform: scale(1.05);
}

.first-column h2 {
  text-align: center;
  margin-bottom: 15px;
  padding: 10px;
  color:#523A65;
  font-size: 32px;
  font-weight: 600;
}

.futurePlans h2 {
  text-align: center;
  margin-bottom: 15px;
  padding: 10px;
  color: #523A65;
  font-size: 32px;
  font-weight: 600;
}

.second-column {
  background-color: #826599;
  padding: 10px;
  text-align: left;
  border-radius: 10px;
  color: #240c38;
  padding-bottom: 30px;
}
.second-column img {
  width: 80%;
  height: 80%;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#symp {
  font-size: 30px;
  color: #240c38;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 15%;
}

.second-column h2 {
  text-align: left;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-top: 10px;
}

.second-column p {
  padding-left: 12px;
}

.aboutUsColumns {
  float: left;
  width: 30%;
  padding: 15px;
}

.aboutUsColumns img {
  float: left;
  padding: 10px;
}

#centertext {
  text-align: justify;
}

.aboutUsColumns h3 {
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 20px;
  text-align: left;
}

#leftCol {
  margin-left: 3%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.handle a {
  --c: #4e0f61;
  --s: .15em;

  line-height: 1.1em;
  padding-bottom: calc(2.1*var(--s));
  background:
    conic-gradient(from 135deg at top, var(--c) 90deg, #0000 0) left 0 bottom var(--s)/calc(2*var(--s)) var(--s) repeat-x,
    conic-gradient(from -45deg at bottom, var(--c) 90deg, #0000 0) left var(--s) bottom 0/calc(2*var(--s)) var(--s) repeat-x;
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0) 0/var(--_p, 0%) padding-box no-repeat;
  transition: 1s;
  text-decoration: none;

  font-size: 16px;
  font-weight: 600;
  font-style: italic;
}

.footer {
  background-color: #523A65;
  text-align: center;
  color: white;
  font-size: 12px;
  padding: 3.2%;
}

.footer-front {
  background-color: #523A65;
  text-align: center;
  color: white;
  font-size: 12px;
  padding: 3.2%;
  margin-top: 60%;
}

.futurePlans h2 {
  margin-top: 30px;
  text-align: center;
  font-size: 32px;
}

.steps-block {
  position: relative;
}

.steps-block:before {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  transition: all 1.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  left: 0;
}

.steps-block:hover:before {
  width: 100%;
}
